# === LETSENCRYPT CONFIGURATION ===
# Nginx proxy configuration
VIRTUAL_PORT=4000
VIRTUAL_HOST=sso.kanidm.com

# Let's Encrypt SSL configuration
LETSENCRYPT_HOST=sso.kanidm.com
LETSENCRYPT_EMAIL=john.smith@mail.com