# === STEP CA CONFIGURATION ===
# Nginx proxy configuration
VIRTUAL_PORT=4000
VIRTUAL_HOST=sso.kanidm.local

# Step CA SSL configuration
LETSENCRYPT_HOST=sso.kanidm.local
LETSENCRYPT_EMAIL=john.smith@mail.com