# === BASE CONFIGURATION ===
# Project name for Docker Compose
COMPOSE_PROJECT_NAME=kanidm-admin

IMAGE=ghcr.io/zyrakq/kanidm-admin:latest

# Logging
LOG_MAX_SIZE=10m
LOG_MAX_FILE=3
LOG_COMPRESS=true

APP_KANIDM__URL=https://kadidm.com
APP_KANIDM__CA_PATH=
# APP_KANIDM__CA_PATH=/certs/kanidm.com/fullchain.pem
APP_KANIDM__VERIFY_CA=true

APP_CUSTOMIZATION__PAGE__ENABLED=false